<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.3" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.0.3" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net451" />
  <package id="ControlzEx" version="2.0.1.61" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net451" />
  <package id="EntityFramework6.Npgsql" version="3.0.7" targetFramework="net451" />
  <package id="Fluent.Ribbon" version="4.0.3.394" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.4.1" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net452" />
  <package id="MvvmLight" version="5.3.0.0" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="NetOffice.Core" version="1.7.3.0" targetFramework="net452" />
  <package id="NetOffice.Core.Net45" version="1.7.3.0" targetFramework="net452" />
  <package id="NetOffice.Excel" version="1.7.3.0" targetFramework="net452" />
  <package id="NetOffice.Excel.Net45" version="1.7.3.0" targetFramework="net452" />
  <package id="NetOffice.PowerPoint" version="1.7.3.0" targetFramework="net452" />
  <package id="NetOffice.Word" version="1.7.3.0" targetFramework="net452" />
  <package id="Npgsql" version="3.0.7" targetFramework="net451" />
  <package id="OpenXml-Complete-SDK" version="2.5.0" targetFramework="net452" />
</packages>